/* root */
:root {

  /* text color */
  --primary-text-color: #ffffff;
  --secondary-text-color: #F7F7F7;
  --tertiary-text-color: #999999;
  --quaternary-text-color: #000000;
  --fifth-text-color: #11120D;

  /* font-family */
  --primary-font-family: 'Inter', sans-serif;
  --secondary-font-family: 'Craftwork Grotesk', sans-serif;

  /* font-weight */
  --primary-font-weight: 400;
  --secondary-font-weight: 500;
  --tertiary-font-weight: 700;

  /* border-color */
  --primary-border-color: #3F3F3F;

  /* background-color */
  --primary-background-color: #000000;
  --secondary-background-color: #D7FE39;
  --tertiary-background-color: #ffffff;
  --quaternary-background-color: #393a3b;
  --fifth-background-color: #3FA9F5;
  --six-background-color: #4a4b4c;
  --seven-background-color: #d5d5d5;
  --eight-background-color: #0d90ee;
  --nine-background-color: #525252;
  }